.details-container div {
  width: 100%;
}

.details-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: absolute;
  right: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0) 60%,
    #8daf1c5b 100%
  );
  overflow: hidden;
}

.details-main {
  width: 100%;
  height: 100%;
  padding: 0 2vw;
  position: relative;
  display: flex;
  align-items: center;
}

.details-main .details-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  bottom: 0;
  left: -5%;
}

.details-main .car-info {
  width: 230px;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: auto;
}

.details-main .car-info .title {
  padding: 6px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 1px;
  margin-bottom: 1vh;
}

.details-main .car-info .title h2 {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-weight: bold;
}

.details-main .car-info .title p {
  font-size: 26px;
  font-weight: 500;
  color: #000;
}

.details-main .car-info .car-specs {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4px 1vw;
  background-color: #96bf1025;
}

.details-main .car-info .car-specs li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.details-main .car-info .car-specs li p {
  font-size: 14px;
  margin: 0;
}

.details-main .car-info .car-specs li h5 {
  font-size: 16px;
  margin-top: 4px;
}

.details-main .car-info .details-btn {
  width: 60%;
  height: 50px;
  background-color: #698315;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  margin-top: 1vw;
  border-radius: 50px;
  align-self: center;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-main .car-info .details-btn:hover {
  background-color: #526415;
  color: rgb(230, 230, 230);
  width: 62%;
}

.color {
  margin-top: 24px;
  width: 30%;
  z-index: -1;
}

.img-back {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      30deg,
      rgba(255, 255, 255, 0) 60%,
      #8daf1c38 100%
    );
    padding-left: 0;
  }

  .details-main {
    display: flex;
    flex-direction: column;
  }

  .details-main .details-img {
    top: 10%;
    width: 110%;
    height: auto;
  }

  .details-main .car-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    position: relative;
    height: auto;
    margin-top: auto;
  }

  .details-main .car-info .title {
    padding: 6px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    gap: 1px;
    margin-bottom: 1vh;
  }

  .details-main .car-info .title h2 {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    font-weight: bold;
  }

  .details-main .car-info .title p {
    color: #000;
  }

  .details-main .car-info .car-specs {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4px 1vw;
    background-color: #96bf104b;
    margin: 0;
  }

  .details-main .car-info .car-specs span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .details-main .car-info .car-specs span p {
    font-size: 12px;
  }

  .details-main .car-info .car-specs span h5 {
    font-size: 16px;
    margin-top: 4px;
  }

  .details-main .car-info .details-btn {
    width: 50%;
    height: 50px;
    background-color: #698315;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    bottom: 1px;
    border-radius: 50px;
    align-self: center;
    transition: 0.2s;
    margin: 2vh 0;
    position: relative;
  }

  .details-main .car-info .details-btn:hover {
    background-color: #526415;
    color: rgb(230, 230, 230);
    width: 62%;
  }
}
